# 파이썬 투플(Tuple) 객체를 판다스 시리즈(Series)로 변환

In [1]:
import pandas as pd

In [3]:
# 투플을 시리즈로 변환(index 옵션에 인덱스 이름을 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [5]:
pd.Series(tup_data)

0            영인
1    2010-05-01
2             여
3          True
dtype: object

# 원소 선택

In [6]:
# 원소를 1개 선택
print(sr.iloc[0])       # sr의 1 번째 원소를 선택 (정수형 위치 인덱스를 활용)
print(sr['이름'])  # '이름' 라벨을 가진 원소를 선택 (인덱스 이름을 활용)

영인
영인

In [8]:
# 여러 개의 원소를 선택 (인덱스 리스트 활용)
print(sr.iloc[[1, 2]])
print('\n')
print(sr[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [9]:
# 여러 개의 원소를 선택 (인덱스 범위 지정)
print(sr[1 : 2])
print('\n')
print(sr['생년월일' : '성별'])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

# [참고] 원소가 없는 빈 시리즈 객체를 만들기

In [10]:
pd.Series()

Series([], dtype: object)

# [참고] 배열이 아닌 스칼라(Scalar) 상수 값으로 시리즈 객체를 만들기

In [11]:
pd.Series(5)

0    5
dtype: int64

In [12]:
pd.Series(5, index=["a", "b", "c"])

a    5
b    5
c    5
dtype: int64