In [1]:
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : [ 'Jerry', 'Riah', 'Paul'],
        'algol' : [ "A", "A+", "B"],
        'basic' : [ "C", "B", "B+"],
        'c++' : [ "B+", "C", "C+"]}

df = pd.DataFrame(data)
df = df.set_index('name')    # name 열을 인덱스로 지정
df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [2]:
# to_excel() 함수를 사용하여 Excel 파일로 내보내기. 파일명은 df_sample.xlsx로 저장
df.to_excel("./data/df_sample.xlsx")

In [3]:
# index = False
df.to_excel("./data/df_sample_no_index.xlsx", index=False)