In [1]:
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic')

# embark_town 열의 829행의 NaN 데이터 출력
df['embark_town'][825:830]

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
Name: embark_town, dtype: object

In [2]:
# embark_town 열의 최빈값(승선도시 중에서 가장 많이 출현한 값) 찾기
most_freq = df['embark_town'].value_counts(dropna=True).idxmax()   
print(most_freq)

# embark_town 열의 최빈값(승선도시 중에서 가장 많이 출현한 값) 찾기
most_freq2 = df['embark_town'].mode()[0]   
print(most_freq2)

Southampton
Southampton

In [3]:
# embark_town 열의 NaN값을 최빈값으로 대체하기
df['embark_town'] = df['embark_town'].fillna(most_freq)

# embark_town 열 829행의 NaN 데이터 출력 (NaN 값이 most_freq 값으로 대체)
df['embark_town'][825:830]

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829    Southampton
Name: embark_town, dtype: object