In [2]:
import pandas as pd

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(student1)
print('\n')
print(student2)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64

In [4]:
# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2               #덧셈
print(type(addition))
print(addition)

<class 'pandas.core.series.Series'>
국어    190
수학    170
영어    160
dtype: int64

In [5]:
subtraction = student1 - student2            #뺄셈
print(type(subtraction))
print(subtraction)

<class 'pandas.core.series.Series'>
국어    10
수학    10
영어     0
dtype: int64

In [6]:
multiplication = student1 * student2         #곱셈
print(type(multiplication))
print(multiplication)

<class 'pandas.core.series.Series'>
국어    9000
수학    7200
영어    6400
dtype: int64

In [7]:
division = student1 / student2               #나눗셈
print(type(division))
print(division)

<class 'pandas.core.series.Series'>
국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [8]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0