In [2]:
import pandas as pd
import seaborn as sns

# titanic 데이터셋에서 age, sex 등 5개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]

# class 열을 기준으로 분할
grouped = df.groupby(['class', 'sex'], observed=True)

# 그룹 객체에 연산 메소드 적용
gdf = grouped.agg(['mean', 'std'], numeric_only=True)
gdf

                     age                   fare             survived
                    mean        std        mean        std      mean       std
class  sex
First  female  34.611765  13.612052  106.125798  74.259988  0.968085  0.176716
       male    41.281386  15.139570   67.226127  77.548021  0.368852  0.484484
Second female  28.722973  12.872702   21.970121  10.891796  0.921053  0.271448
       male    30.740707  14.793894   19.741782  14.922235  0.157407  0.365882
Third  female  21.750000  12.729964   16.118810  11.690314  0.500000  0.501745
       male    26.507589  12.159514   12.661633  11.681696  0.135447  0.342694

In [3]:
# 인덱스 속성 확인하기
gdf.index

MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])

In [5]:
# 멀티 인덱스 만들기 - 배열의 리스트 이용
arrays = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]]
multi_index_arrays = pd.MultiIndex.from_arrays(arrays, names=('letter', 'number'))
multi_index_arrays

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           names=['letter', 'number'])

In [7]:
# 멀티 인덱스 만들기 - 튜플의 배열 이용
tuples = [('a', 1), ('a', 2), ('b', 1), ('b', 2)]
multi_index_tuples = pd.MultiIndex.from_tuples(tuples, names=('letter', 'number'))
multi_index_tuples

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           names=['letter', 'number'])

In [9]:
# 멀티 인덱스 만들기 - 교차 반복 객체를 이용
letters = ['a', 'b']
numbers = [1, 2]
multi_index_product = pd.MultiIndex.from_product([letters, numbers],
                                                 names=('letter', 'number'))
multi_index_product

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           names=['letter', 'number'])

In [15]:
# 멀티 인덱스 만들기 - 데이터프레임 이용
df = pd.DataFrame([['a', 1], ['a', 2], ['b', 1], ['b', 2]], columns=['letter', 'number'])
multi_index_frame = pd.MultiIndex.from_frame(df)
multi_index_frame

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           names=['letter', 'number'])

In [16]:
# 멀티인덱스의 특정 레벨을 추출
multi_index_frame.get_level_values(0)

Index(['a', 'a', 'b', 'b'], dtype='object', name='letter')

In [17]:
# 멀티인덱스의 특정 레벨을 추출
multi_index_frame.get_level_values('letter')

Index(['a', 'a', 'b', 'b'], dtype='object', name='letter')

In [18]:
# 열이름의 멀티 인덱스 확인
gdf.columns.levels

FrozenList([['age', 'fare', 'survived'], ['mean', 'std']])