In [1]:
import pandas as pd

# 데이터프레임 만들
df = pd.DataFrame({
    'Name': ['John' , 'Mary'],
    'City': ['New York', 'Los Angeles'],
    'Age': [28, 32],
    'Salary':[50000, 60000],
})

df

   Name         City  Age  Salary
0  John      NewYork   28   50000
1  Mary  Los Angeles   32   60000