In [2]:
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic')

# 데이터프레임 복제하기
df2 = df.copy()

# embark_town 열의 829행의 NaN 데이터 출력
df['embark_town'][825:831]

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
830      Cherbourg
Name: embark_town, dtype: object

In [3]:
# embark_town 열의 NaN 값을 바로 앞에 잇는 828행의 값으로 변경하기
df['embark_town'] = df['embark_town'].ffill()
df['embark_town'][825:831]

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829     Queenstown
830      Cherbourg
Name: embark_town, dtype: object

In [4]:
# embark_town 열의 NaN값을 바로 뒤에 있는 831행의 값으로 변경하기
df2['embark_town'] = df2['embark_town'].bfill()
df2['embark_town'][825:831]

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829      Cherbourg
830      Cherbourg
Name: embark_town, dtype: object