In [2]:
import pandas as pd

# 중복 데이터를 갖는 데이터프레임 만들기
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                   'c2':[1, 1, 1, 2, 2],
                   'c3':[1, 1, 2, 2, 2]})

df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [3]:
# 데이터프레임 전체 행 데이터 중에서 중복값 찾기(기본값, keep='first')
df_dup_first = df.duplicated()
df_dup_first

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [4]:
# 데이터프레임 전체 행 데이터 중에서 중복값 찾기(keep='last')
df_dup_last = df.duplicated(keep='last')
df_dup_last

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [5]:
# 데이터프레임 전체 행 데이터 중에서 중복값 찾기(keep=False)
df_dup_false = df.duplicated(keep=False)
df_dup_false

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [6]:
# 데이터프레임의 특정 열 데이터에서 중복값 찾기
col_dup = df['c2'].duplicated()
col_dup

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [8]:
# 데이터프레임의 특정 열 데이터에서 중복값 찾기
col_dup2 = df.duplicated(subset=['c2'])
col_dup2

0    False
1     True
2     True
3    False
4     True
dtype: bool