In [1]:
import pandas as pd

# read_json() 함수로 데이터프레임 변환 
df = pd.read_json('./data/read_json_sample.json')  

df

            year        developer opensource
pandas      2008    Wes Mckinneye       True
NumPy       2006  Travis Oliphant       True
matplotlib  2003   John D. Hunter       True

In [2]:
df.index

Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [4]:
# orient 속성 : 'index'
df2 = pd.read_json('./data/read_json_sample.json', orient='index')  

df2

                   pandas            NumPy      matplotlib
year                 2008             2006            2003
developer   Wes Mckinneye  Travis Oliphant  John D. Hunter
opensource           True             True            True

In [5]:
# orient 속성 : 'columns'
df3 = pd.read_json('./data/read_json_sample.json', orient='columns')  

df3

            year        developer opensource
pandas      2008    Wes Mckinneye       True
NumPy       2006  Travis Oliphant       True
matplotlib  2003   John D. Hunter       True